.password-recovery {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}

.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.form-container a {
  width: 100%;
}

.title-recovery {
  font-size: var(--lg);
  margin-bottom: 12px;
  text-align: center;
}

.subtitle-recovery {
  color: var(--very-light-pink);
  font-size: var(--md);
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
}

.label-recovery {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 10px;
}

.input-recovery {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 25px;
  font-size: var(--md);
  padding: 6px 0;
  margin-bottom: 12px;
  outline-color: var(--hospital-green);
}

.input-email-recovery {
  width: 100%;
}

.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 40px;
}

.primary-button:hover {
  background-color: var(--white);
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
}

.login-button {
  margin-top: 14px;
  margin-bottom: 30px;
}

.back-login {
  font-size: var(--sm);
  text-align: center;
}

.back-login span {
  color: var(--very-light-pink);
}

.back-login a {
  color: var(--hospital-green);
  text-decoration: none;
}

