body {
  background-color: var(--background-body);
  font-family: "Quicksand", sans-serif;
  margin: 0;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid var(--very-light-pink);
}

.menu {
  display: none;
  width: 24px;
}

.logo {
    height: 40px;
    padding-top: 10px;
  }

.logo:hover {
    transform: scale(1.1);
  }

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar-left {
  display: flex;
}

.navbar-left ul {
  margin-left: 12px;
}

.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  padding: 8px;
  border-radius: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
}

.navbar-email {
  color: var(--very-light-pink);
  font-size: var(--sm);
}

.navbar-shopping-cart {
  position: relative;
}

.navbar-shopping-cart img:hover {
  transform: scale(1.2);
}

.navbar-shopping-cart div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -6px;
  right: -6px;
  width: 16px;
  height: 16px;
  background-color: #4dcb54;
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  color: var(--white);
}

.desktop-menu {
  width: 110px;
  height: 150px;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
}

.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop-menu ul li {
  text-align: end;
}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  text-align: end;
  font-weight: bold;
}

.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}

.desktop-menu ul li a {
  display: inline-block;
  color: var(--black);
  text-decoration: none;
  margin-bottom: 20px;
}

.modal {
  background-color: var(--white);
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
}

#overlay:target {
  opacity: 1;
  pointer-events: auto;
  margin: 3.1% 4%;
}

#home-modal {
  display: none;
}

#modal-over {
  display: block;
}

.login {
  display: grid;
  place-items: center;
  width: 100%;
  height: 90vh;
}

.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.title {
  font-size: var(--lg);
  margin-bottom: 40px;
  text-align: start;
}

.form {
  display: flex;
  flex-direction: column;
}

.form div {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
}

.value {
  background-color: var(--text-input-field);
  color: var(--very-light-pink);
  font-size: var(--md);
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
}

.secondary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: 1px solid var(--hospital-green);
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 40px;
}

.login-button {
  margin-top: 40px;
  margin-bottom: 30px;
}

@media (max-width: 640px) {
  .form-container {
    height: 100%;
  }

  .form {
    height: 100%;
    justify-content: space-between;
  }

  .title {
    padding-top: 25px;
  }

  .menu {
    display: flex;
  }

  .navbar-left ul {
    display: none;
  }

  .navbar-email {
    display: none;
  }
}
